.page
{
  background-color: #E8E7E5;
  font-family: Arial;
}

.tab__content
{
  display: table;
  margin: 10px;
  margin-bottom: 40px;
}

.tab
{
  display: inline-block;
  background-color: #FFFFFF;
  border-radius: 0 8px 8px 8px;
  border:solid #C7C7C7;
  border-top: none;
  border-width: 0 2px 2px 1px;
  box-shadow: 1px 1px 3px #C7C7C7;
  display: none;
}

.tabs-nav
{
  display: table;
  
}

.tabs-nav__link
{
  padding: 10px;
  float: left;
  border:solid #C7C7C7;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  border-width: 1px;
  background-color: #0685B0;
  background: linear-gradient(to bottom, #0685B0, #236AAA);
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
  
}

.is-active
{
  margin-right: 10px;
  background: #FFFFFF;
  color: #000000;
  display: inline-block;
}
.slide__left-part
{
  width: 150px;
  float: left;
}
.image_slider
{
  width: 148px;
	border-radius: 8px;
  border:solid #ffffff;
}

.button
{
padding: 10px;
border-radius: 3px;
border:1px solid #BBBBBB;
font-size: 12px;
display: inline-block;
text-align: center;
cursor: pointer;
}

.button_add-to-friends
{
  width: 150px;
  font-size: 14px;
  padding: 10px 0;
  border: none;
  color: #FFFFFF;
  background-color: #E57F0B;
  background: linear-gradient(to bottom, #E57F0B, #E55306);
}

.slide__right-part
{
  padding-left: 20px;
  display:table-cell;
  float: right;
  font-size: 12px;
}

.header
{
  padding: 20px 0;
}

.header__name
{
  font-size: 24px;
}

.header__city
{
  color: #616161;
}

.info
{
  display: table;
  margin: 0 0;
}

.list
{
  padding: 7px 20px 7px 0;
}

.list-name
{
  display:table-cell;
  float: left;
  font-weight: bold;
}

.list-value
{
  display:table-cell;
  float: right;
}

.interests
{
  margin-top: 45px;
}

.interests__header
{
  font-weight: bold;
  margin-bottom: 5px;
}

.interests__button
{
  color: #236AAA;
  padding: 5px;
}