.page 
{
 width: 100%;
 margin: 0;
 background-color: #f7f7f7;
 font-family: Oswald, Tahoma;
 font-size: 12px;
}

.page__head-line
{
  background-color: #7e7e7e;
  height: 5px;
  width: 100%;
}

.page__line 
{
  width: 960px;
  margin: 0 auto;
  margin-top: 27px;
}

.head
{
  height: 36px;
}

.head__logo
{
  float: left;
}

.head__search
{
  float: right;
}

.search__input
{
  display: inline-block;
}

.input
{
  background-color: #f3f3f3;
  border: 1px solid #7e7e7e;
}

.input_search
{
  height: 32px;
  padding: 0 10px;
  width: 135px;
  border-right: none;
}

.button
{
  color: #fefefe;
  height: 34px;
  padding: 0 12px;
  line-height: 33px;
  cursor: pointer;
  background-color: #29c5e6;
}

.link
{
  color: #525252;
  font-size: 12px;
}

.menu
{
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: table;
  table-layout: fixed;
}

.link_menu
{
  text-align: center;
  color: #bfbfbf;
  cursor: pointer;
  font-size: 14px;
  height: 38px;
  background-color: #f3f3f3;
  line-height: 38px;
  border: 1px solid #e7e7e7;
  display: table-cell;
}

.link_menu_active
{
  color: #fefefe;
  background-color: #29c5e6;
  border: 1px solid #29c5e6;
}

.slide__text
{
  position: relative;
  top: 40px;
  left: 35px;
  z-index:10;
}

.slide__header
{
  font-size: 42px;
  color: #5a5a5a;
}

.slide__subtext
{
  font-size: 20px;
  color: #b0b0b0;
}

.slide__image
{
  z-index: 0;
  margin-top: -62px;
}

.slider__list
{
  height: 50px;
  background-color: #f3f3f3;
  width: 100%;
  margin-top: -2px;
  border-bottom: 1px solid #e7e7e7;
}

.slide-list
{
  margin: 0;
  padding: 0;
  list-style: 0;
  width: 100%;
  display: table;
  table-layout: fixed;
  font-size: 16px;
  color: #8f8f8f;
}

.slide-list__item
{
  display: table-cell;
}

.slider-case-element
{
  cursor: pointer;
}

.slider-case-element__number
{
  text-align: center;
  display: inline-block;
  width: 22px;
  margin-left: 12px;
  margin-top: 12px;
  height: 22px;
  background-color: #8f8f8f;
  color:#f3f3f3;
}

.slider-case-element__number_active
{
  background-color: #29c5e6;
  color:#fefefe;
}

.slider-case-element__text_active
{
    color:#29c5e6;
}

.main__item
{
  float: left;
  margin-left: 10px;
  width: 460px;
}

.main__item_small
{
  width: 300px;
}

.main__item_long
{
  width: 920px;
}

.item-head__img
{
  display: inline-block;
  background: url("../img/bg.png");
  padding: 2px;
}

.item-head__text
{
  display: inline;
  font-size: 16px;
  color: #8f8f8f;
  padding: 3px;
  padding-right: 10px;
  background: url("../img/bg.png");
}

.item-head
{
  line-height: 16px;
  height: 19px;
  background:url('../img/hbg.png') repeat;
}

.company
{
  width: 100%;
}

.company__content
{
  margin-top: 15px;
}

.content__img
{
  float: left;
  margin-right: 20px;
}

.content__text
{
    color:#8f8f8f;
    font-size:12px;
}
.link,.content__link
{
    color:#525252;
    font-size:12px;
        
}

